*{
	margin: 0;
	padding: 0;
		}
	body{
		background:#F2F0F4;
	}
		
		.topo{
			height: 60px;
			background: #0F0E5B;
			
		} 
		#check{
			display: none;
		}
		#icone{
			cursor: pointer;
			padding: 15px;
			position: absolute;
			z-index: 1;
		}

		.barra{
			background: #0F0E5B;
			height: 100%;
			width: 300px;
			position: absolute;
			transition: all .2s linear;
			left: -300px;
		}

		nav{
			width: 100%;
			position: absolute;
			top: 60px;

		}

		nav a{
			text-decoration: none;
		}

		.link{
			background: #818094;
			padding: 20px;
			font-family: 'Arial';
			font-size: 12pt;
			transition: all .2 linear;
			color: #FFF;
			border-bottom: 2px solid #0F0E5B;

		}

		.link:hover{  
			background: #5F5E6D;
		}

		#check:checked ~ .barra{
			transform: translateX(300px);
		}

.editar{
  color: white;
  font-size:17px;
}
		/* -------------------------------------------*/

		#imagemFundo{
	display: block;
    margin-left: auto;
    margin-right: auto;
		}

.conteiner{
	width: 600px;
	height: 490px;
	background: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;


}

.conteiner3{
	width: 600px;
	height: 300px;
	background: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;


}



 /* ---------------------------- Perfil -------------------------*/
 .conteiner_perfil{
 	width: 500px;
 	height: 300px;
 	background: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

 }
 .titulo_info{
 	text-align:center;
	padding:35px;
	color: #0F0E5B;
	font-size: 35px;
 }

 .info_perfil{
 	font-size:20px;
	padding-left: 22px;
 }

 .botao{
 	text-align: center 
 }

 .botao_perfil{
 	color: white;
    background:#FF8A1B;
    margin-top: 20px;
    border: 2px solid #A9A9A9;
    padding:  5px 20px;
    height: 35px;
    width: 55%;
   
    font-size: 17px;
 }


 .divEditar{
  
  margin: 0 auto;
  margin-top: 30px;
  width: 250px;
  height: 30px;
  background: #ff8a1b;
  text-align: center;
}


.linkEditar{
  color: #fff;
  text-decoration:none;
  font-size:24px;

}

.divAdd{
  
  margin: 0 auto;
  margin-top: 30px;
  width: 250px;
  height: 30px;
  background: #ff8a1b;
  text-align: center;
}

.linkAdd{
  color: #fff;
  text-decoration:none;
  font-size:24px;

}

